name: Main pipline
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]

    steps:
      - uses: actions/checkout@v2
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Installing modules
        run: npm install
      - name: Building production project
        run: npm run build
      - name: Linting typescript
        run: npm run lint:ts
      - name: Linting css
        run: npm run lint:scss
      - name: Unit testing
        run: npm run test:unit
    #   - name: Build storybook
    #     run: npm run storybook:build
    #   - name: Screenshot testing
    #     run: npm run test:ui:ci
